<div  style=" display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  gap: 10px;">
<div class="col" *ngFor="let col of imagesDataGrid; let i = index" (click)="displayPhoto(i)">
    <img mat-card-sm-image src="{{col.cropped_picture}}" />
</div>
</div>
<ng-image-fullscreen-view [images]="imageObject" [imageIndex]="selectedImageIndex" [show]="showFlag"
    (close)="closeDisplayer()"></ng-image-fullscreen-view>
<mat-paginator [length]="pagesLenght" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25,100]"      [showFirstLastButtons]="true"
      (page)="onChangePage($event)"></mat-paginator>